@media screen and (max-width: 540px) {
            p { overflow: hidden; text-overflow: ellipsis;}

        } 
            
        
        * { margin: 0;padding: 0;}
        .nav img{ border: none; height: 50px; border-radius: 50px;padding: 5%;}
        header { background-color: rgb(165, 103, 21);height: 10vh;}
        .nav-container{ display: flex; align-items: center;justify-content: space-between; max-width: 80vw;margin: auto;}
        .links a{ color: black; padding: 2vw;text-decoration: none;font-weight: bold;}

        section{ background-color: burlywood;height: 80vh;display: flex;flex-direction: column;}
        section button{border: none; height: 30px;padding: 1% ; border-radius: 20px; font-size: medium;font-weight:medium;white-space: nowrap;;}

        .readmore { display: flex;}
        .readmore a{margin: auto;}
        .readmore button{ padding: 0 10%; ;cursor: pointer;}

        footer { height: 10vh;background-color: rgb(165, 103, 21);}

        footer{text-align: center; font-weight: bold;}
        .b img{ border: none;border-radius: 500px; height:30px ;}
